.header01 {
  /* position: absolute;
  left: 0;
  top: 0; */
  z-index: 2;
  width: 100%;
  height: auto;
  /* padding: 0 48px; */
}
.header01.fixedHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #ecf5f4;
  z-index: 999;
  box-shadow: 0 0 50px 0 rgba(29, 35, 58, 0.08);
}
.header01.h01Mode2.fixedHeader {
  background: #fff;
}
.h01Mode2 {
  position: relative;
  padding: 0;
  left: auto;
  top: auto;
}
.blankHeader {
  height: 0;
}
.headerInner01 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerInner02 {
  display: flex;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}
.logo {
  position: relative;
  min-width: 13.4%;
  /* padding: 36px 0; */
}
.headerInner02 .logo {
  flex: 1;
  margin: 0;
  /* padding: 27px 0; */
}
.logo img {
  height: 60px;
  width: auto;
}
.headerInner02 .logo img {
  height: 42px;
  width: auto;
}
.mainMenu {
  font-family: "Jost", sans-serif;
  position: relative;
  justify-content: flex-start;
}
.mainMenu ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
}
.mainMenu ul li {
  list-style: none;
  position: relative;
}
.mainMenu > ul > li {
  padding: 51px 0 51px;
  margin: 0 55px 0 0;
  position: relative;
}
.headerInner02 .mainMenu > ul > li {
  padding: 0;
  padding: 38px 0 40px;
}
.mainMenu > ul > li:last-child {
  margin-right: 0;
}
.mainMenu ul li a {
  font-size: 18px;
  line-height: 1;
  color: #000;
  display: block;
  position: relative;
}
.mainMenu ul li.menu-item-has-children > a:after {
  transition: all ease 350ms;
  -moz-transition: all ease 350ms;
  -webkit-transition: all ease 350ms;
}
.mainMenu ul li:hover > a,
.mainMenu ul li.current-menu-item > a {
  color: #9ebbbd;
}
.mainMenu ul li ul {
  position: absolute;
  display: block;
  top: calc(80% + 15px);
  left: 0;
  min-width: 220px;
  background: #fff;
  text-align: left;
  box-shadow: 0 0 50px 0 rgba(29, 35, 58, 0.08);
  padding: 15px 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}
.mainMenu ul li ul li ul {
  left: calc(100% + 10px);
  top: calc(80% - 40px);
}
.mainMenu > ul li:hover > ul {
  pointer-events: inherit;
  visibility: visible;
  opacity: 1;
  top: 80%;
  pointer-events: auto;
}
.mainMenu ul li ul li:hover ul {
  top: calc(80% - 30px);
}
.mainMenu ul li ul li {
  display: block;
  display: block;
  margin: 0;
  width: 100%;
  padding: 8px 25px;
}
.mainMenu ul li ul li a {
  font-size: 16px;
  line-height: 24px;
  color: #52586d;
  display: inline;
  position: relative;
  font-weight: 400;

  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#9ebbbd),
    color-stop(98%, #9ebbbd)
  );
  background: linear-gradient(to bottom, #9ebbbd 0%, #9ebbbd 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
}
.mainMenu > ul > li > ul li:hover > a,
.mainMenu > ul > li > ul li.active > a {
  background-size: 100% 1px;
  background-image: linear-gradient(to bottom, #9ebbbd 0%, #9ebbbd 98%);
}
.mainMenu ul li ul li.menu-item-has-children > a:after {
  display: none;
}
.mainMenu ul li ul li.menu-item-has-children:after {
  font-weight: 900;
  display: inline-block;
  position: absolute;
  font-size: 12px;
  top: 9px;
  right: 9px;
  transition: all ease 350ms;
  -moz-transition: all ease 350ms;
  -webkit-transition: all ease 350ms;
}
.mainMenu ul li ul li.menu-item-has-children:hover:after,
.mainMenu ul li ul li.menu-item-has-children.active:after {
  color: #9ebbbd;
}
.megaMenu {
  position: absolute;
  display: block;
  top: calc(80% + 15px);
  left: 0;
  min-width: 720px;
  background: #fff;
  text-align: left;
  box-shadow: 0 0 50px 0 rgba(29, 35, 58, 0.08);
  padding: 28px 10px 15px;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}
.mainMenu > ul li:hover > .megaMenu {
  pointer-events: inherit;
  visibility: visible;
  opacity: 1;
  top: 80%;
  pointer-events: auto;
}

.mainMenu > ul li:hover > .megaMenu ul {
  pointer-events: auto;
}
.megaMenu .row .col-lg-4:first-of-type {
  width: 30%;
}
.megaMenu .row .col-lg-4:nth-child(2) {
  width: 30%;
}
.megaMenu .row .col-lg-4:last-of-type {
  width: 40%;
  padding: 0 2px 0 0;
}
.megaMenu h3 {
  font-size: 18px;
  line-height: 1;
  position: relative;
  margin: 0 24px 17px;
  font-weight: 500;
  padding: 0 0 3px;
}
.megaMenu h3:after {
  content: "";
  width: 35px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #9ebbbd;
}
.mainMenu ul li .megaMenu ul {
  opacity: 1;
  visibility: visible;
  position: relative;
  left: auto;
  top: auto;
  min-width: 100%;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transition: none;
  transition: none;
}
.mainMenu ul li .megaMenu ul li:hover > a,
.mainMenu ul li .megaMenu ul.active > a {
  background-size: 100% 1px;
  background-image: linear-gradient(to bottom, #9ebbbd 0%, #9ebbbd 98%);
}
.megaMenu .lookBook01.lb01M2 {
  margin: -28px 0 -15px;
  border-radius: 0 10px 10px 0;
  padding: 36px 0 0 0;
}
.megaMenu .lbContent {
  position: absolute;
  top: 0px;
  padding: 77px 0 0 30px;
  max-width: 70%;
  text-align: left;
}
.megaMenu .lb01M2:after {
  top: auto;
  bottom: -46px;
  right: -49px;
  width: 186px;
  height: 186px;
}
.megaMenu .lbContent h2 {
  font-size: 24px;
  line-height: 36px;
  color: #52586d;
  margin: 0 0 19px;
}
.megaMenu .lookBook01 img {
  max-width: 45%;
  height: auto;
  position: relative;
  z-index: 2;
  margin: 43px 0 0;
  display: inline-block;
}
.megaMenu .lbContent h3:after {
  display: none;
}
.mainMenu ul li a.ulinaLink {
  font-size: 14px;
}
.mainMenu ul li a.ulinaLink i {
  font-size: 12px;
  top: 0px;
}
.menuToggler {
  display: none;
}

.accessNav {
  display: inline-flex;
  justify-content: flex-end;
  margin: 0 0 0 65px;
}
.headerInner02 .accessNav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin: 0;
}
.anSocial {
  position: relative;
  display: inline-flex;
  margin: 51px 25px 51px 0px;
}
.ansWrap {
  display: inline-flex;
}
.anSocial a {
  font-size: 18px;
  line-height: 1;
  color: #52586d;
  margin: 0 24px 0 0;
}
.anSocial a:last-child {
  margin: 0;
}
.anSocial a.fac {
  color: #1877f2;
}
.anSocial a.twi {
  color: #1da1f2;
}
.anSocial a.lin {
  color: #0077b5;
}
.anSocial a.ins {
  color: #405de6;
}
.anSocial a:hover {
  color: #9ebbbd;
}
.anSocial a.tog {
  display: none;
}
.anSelects {
  display: inline-flex;
  justify-content: flex-start;
  position: relative;
  padding: 0 0 0 23px;
  margin: 51px 24px 51px 0;
}
.anSelects:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  height: 12px;
  width: 1px;
  background: #bcbcbc;
}
.anSelect {
  position: relative;
  margin: 0 16px 0 0;
}
.anSelects .anSelect:last-of-type {
  margin: 0;
}
.anSelect .nice-select {
  font-size: 16px;
  line-height: 18px;
  color: #7f8495;
  text-transform: uppercase;
  padding: 0 18px 0 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  height: auto;
}
.anSelect .nice-select:after {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 12px;
  color: #7f8495;
  border: none;
  margin: 0;
  top: 1px;
  transform: none;
  width: auto;
  height: auto;
  left: auto;
  right: 1px;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.anSelect .nice-select.open:after {
  content: "\f106";
}
.anSelect .nice-select .list {
  margin: 10px 0 0;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  min-width: 80px;
}
.anSelect .nice-select .list .option {
  font-size: 16px;
  color: #7f8495;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 40px;
}
.anSelect .nice-select .option:hover,
.anSelect .nice-select .option.focus,
.anSelect .nice-select .option.selected.focus {
  background-color: #9ebbbd !important;
  color: #fff !important;
}
.anItems {
  position: relative;
  display: inline-flex;
  padding: 0 0 0 24px;
  margin: 49px 0 47px;
}
.headerInner02 .anItems {
  padding: 0;
  margin: 37px 0 35px;
}
.anItems > div {
  position: relative;
  margin-right: 24px;
}
.anItems > div:last-of-type {
  margin: 0;
}
.anItems > div > a,
.anItems > div > span,
.anItems > div > p {
  font-size: 18px;
  line-height: 1;
  color: #52586d;
  cursor: pointer;
}
.anItems > div > a:hover,
.anItems > div > span:hover,
.anItems > div > p:hover {
  color: #9ebbbd;
}
.anItems > div.anCart > a span,
.anItems > div.anCart > p span {
  height: 18px;
  width: 18px;
  position: absolute;
  right: -12px;
  top: -10px;
  background: #f04726;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-size: 12px;

  transition: all ease 350ms;
  -moz-transition: all ease 350ms;
  -webkit-transition: all ease 350ms;
}
.anItems > div.anCart > a:hover span,
.anItems > div.anCart > p:hover span {
  background: #52586d;
}
.anSupport {
  position: relative;
  padding: 0 0 0 53px;
  margin: 42px 0 40px 49px;
}
.anSupport i {
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 36px;
  color: #4a5556;
  line-height: 1;
}
.anSupport h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
}
.anSupport h3:first-of-type {
  margin: 0 0 6px;
}
.anItems > div.anCart:hover .cartWidgetArea {
  pointer-events: inherit;
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotatex(0deg);
  -moz-transform: rotatex(0deg);
  transform: rotatex(0deg);
}
.cartWidgetArea {
  position: absolute;
  display: block;
  top: calc(100% + 23px);
  right: -30px;
  width: 300px;
  background: #fff;
  text-align: left;
  box-shadow: 0 0 50px 0 rgba(29, 35, 58, 0.08);
  padding: 30px 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  border-radius: 10px;
  -webkit-transform: rotateX(-75deg);
  -moz-transform: rotateX(-75deg);
  transform: rotateX(-75deg);
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.fixedHeader .cartWidgetArea {
  top: calc(100% + 34px);
}
.h01Mode2.fixedHeader .cartWidgetArea {
  top: calc(100% + 24px);
}
.cartWidgetProduct {
  position: relative;
  min-height: 60px;
  text-align: left;
  padding-left: 74px;
  margin-bottom: 25px;
  padding-right: 15px;
}
.cartWidgetArea .cartWidgetProduct:last-of-type {
  margin-bottom: 19px;
}
.cartWidgetProduct img {
  width: 60px;
  height: 70px;
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 0;
}
.cartWidgetProduct a {
  font-family: "Jost", sans-serif;
  display: block;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  bottom: auto;
  color: #52586d;
  margin: 0 0 6px;
  top: -2px;
}
.cartWidgetProduct a:hover {
  color: #9ebbbd;
}
.cartWidgetProduct .cartProductPrice {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #7b9496;
  line-height: 1;
}
.cartWidgetProduct .cartRemoveProducts {
  font-size: 10px;
  color: #7f8495;
  position: absolute;
  right: -8px;
  top: 0px;
  margin: 0;
  width: 19px;
  height: 19px;
  border: 1px solid #c5d0cf;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  padding: 0px 0 0 1px;
}
.cartWidgetProduct .cartRemoveProducts:hover {
  color: #fff;
  border-color: #9ebbbd;
  background: #9ebbbd;
}
.totalPrice {
  font-family: "Jost", sans-serif;
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  color: #52586d;
  text-align: left;
  font-weight: 500;
  width: 100%;
  text-transform: capitalize;
  margin: 0 0 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #c5d0cf;
}
.totalPrice .price {
  float: right;
  color: #7b9496;
}
.cartWidgetBTN {
  position: relative;
  text-align: left;
}
.cartWidgetBTN a {
  font-family: "Jost", sans-serif;
  display: inline-block;
  position: relative;
  height: 35px;
  min-width: 10px;
  background: #9ebbbd;
  border-radius: 35px;
  font-size: 12px;
  line-height: 36px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  border: none;
  padding: 0 20px;
}
.cartWidgetBTN a.checkout {
  float: right;
}
.cartWidgetBTN a:hover {
  background: #52586d;
  color: #fff;
}

/* Search Popup */
.popup_search_sec {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.popup_search_overlay {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: rgba(82, 88, 109, 0.6);
  z-index: 9991;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in 0.8s;
  -o-transition: all 0.4s ease-in 0.8s;
  transition: all 0.4s ease-in 0.8s;
}
.popup_search_sec.active .popup_search_overlay {
  visibility: visible;
  -webkit-transition: all 0.8s ease-out 0s;
  -o-transition: all 0.8s ease-out 0s;
  transition: all 0.8s ease-out 0s;
  top: 0;
  opacity: 1;
}
.pop_search_background {
  background: #52586d;
  width: 100%;
  height: 400px;
  top: -100%;
  z-index: 9992;
  position: fixed;
  left: 0;
  opacity: 0;
  visibility: hidden;

  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.6s cubic-bezier(0.9, 0.03, 0, 0.96) 0.7s;
  -o-transition: all 0.6s cubic-bezier(0.9, 0.03, 0, 0.96) 0.7s;
  transition: all 0.6s cubic-bezier(0.9, 0.03, 0, 0.96) 0.7s;
}
.popup_search_sec.active .pop_search_background {
  opacity: 1;
  visibility: visible;
  top: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.5s;
  -o-transition: all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.5s;
  transition: all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.5s;
}
.popup_search_form {
  position: relative;
}
.popup_search_form:after {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
  position: absolute;
  content: "";
  height: 1px;
  background: #9ebbbd;
  width: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.popup_search_sec.active .popup_search_form:after {
  -webkit-animation-name: fadeInGo;
  animation-name: fadeInGo;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: visible;
  opacity: 1;
  width: 100%;
}
.popup_search_form input[type="search"] {
  font-family: "Jost", sans-serif;
  width: 100%;
  height: 70px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 22px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 300;
}
.popup_search_form input[type="search"]::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.popup_search_form input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.popup_search_form input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInGo {
  0% {
    opacity: 0.1;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes fadeInGo {
  0% {
    opacity: 0.1;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@-webkit-keyframes fadeOutGo {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@keyframes fadeOutGo {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

@-webkit-keyframes fadeOutGo2 {
  0% {
    opacity: 0.8;
    width: 100%;
  }
  100% {
    opacity: 0.14;
    width: 0;
  }
}
@keyframes fadeOutGo2 {
  0% {
    opacity: 0.8;
    width: 100%;
  }
  100% {
    opacity: 0.14;
    width: 0;
  }
}
.popup_search_form button[type="submit"] {
  position: absolute;
  right: 0;
  top: 23px;
  border: none;
  outline: none;
  z-index: 2;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  background: transparent;
  color: #ffffff;
  transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -ms-transition: all ease 300ms;
  -o-transition: all ease 300ms;
}
.popup_search_form button[type="submit"]:hover {
  color: #9ebbbd;
}
.middle_search {
  position: relative;
  top: 43%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: relative;
  z-index: 2;
}
.search_Closer {
  float: right;
  height: 22px;
  width: 22px;
  /* background: url(../images/close1.png) no-repeat center center; */
  margin: 30px 0 0;
}
.search_Closer:hover {
  color: #9ebbbd;
}
.popup_logo {
  position: relative;
  margin: 30px 0 0;
}
.popup_logo img {
  height: 42px;
  width: auto;
}

/*-----------------------------------------
/  01.1 Top Bar
/-----------------------------------------*/
.topbarSection {
  position: relative;
}
.tbInfo {
  font-size: 14px;
  line-height: 28px;
  color: #7f8495;
  padding: 6px 0px 7px;
}
.tbInfo > i {
  color: #9ebbbd;
  margin-right: 8px;
}
.tbInfo .ulinaLink {
  font-size: 12px;
  margin-left: 13px;
}
.tbInfo .ulinaLink i {
  top: 0;
  margin-right: 6px;
}
.tbAccessNav {
  display: flex;
  justify-content: flex-end;
}
.tbAccessNav .anSocial {
  margin: 14px 23px 11px 0px;
}
.tbAccessNav .anSocial a {
  font-size: 16px;
  margin-right: 21px;
}
.tbAccessNav .anSocial a:last-child {
  margin-right: 0;
}
.tbAccessNav .anSelects {
  margin: 12px 0 11px;
}
.tbAccessNav .anSelect .nice-select {
  font-size: 14px;
}
.tbAccessNav .anSelect .nice-select .list .option {
  font-size: 14px;
}
.tbBar {
  height: 1px;
  background: #dbdfe3;
}
